.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.arrow{
    width: 1em;
    height: 1em;
    background-image: url("images/arrow.svg");
    background-size: contain;
    margin-left: 10px;
}
.reverseArrow{
    transform: rotate(180deg);
}
.ingredientsList{
    list-style: none;
    padding-inline-start: 0;
}
.show{
    line-height: 1.2em;
}
.hide{
    display: none;
}
